.companies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    & > * {
        box-sizing: border-box;
        
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
}

.companies-controls {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}